body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div, p {
  flex-grow: 1;
}

.container {
  display: flex;
  align-items: center;
  gap: 30px;
}

h2 {
  text-align: center;
}

.flex-item {
  flex-basis: auto;
}