body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #B5DEAD;
  font-family: Bungee, 'Courier New', Courier, monospace;
}

div, p {
  flex-grow: 1;
}

.container {
  display: flex;
  align-items: center;
  gap: 30px;
}

h2 {
  text-align: center;
}

.flex-item {
  flex-basis: auto;
}

button {
  all: unset;
  background-color: #442220;
  color: #B0CA87;
  border-radius: 30px;
  padding: 20px;
  cursor: pointer;
}